<span class="status">
[
{% if o.status.publish %}
  <i class="fa fa-check"></i>
{% else %}
  <span class="pending">
    <i class="fa fa-question"></i>
{% endif %}
{{ o.status }}{% if not o.status.publish %}</span>{% endif %}
&nbsp;
|
&nbsp;
<a href="{% url 'event.update.notes' o.pk %}">
  <i class="fa fa-edit"></i>
  Edit user/staff notes
</a>
&nbsp;
|
&nbsp;
{% if o.permission.slug == 'staff' %}
  <span class="staff-text">
    <i class="fa fa-lock"></i>
{% elif o.permission.slug == 'user' %}
  <span class="user-text">
    <i class="fa fa-user"></i>
{% else %}
  <span class="public-text">
{% endif %}
  {{ o.permission.description }}
</span>
]
</span>
