{% extends 'project/base.html' %}

{% block title %}
  Event categories
{% endblock title %}

{% block sub_heading %}
  Event categories
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'event.list' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'event.category.create' %}">
              <i class="fa fa-calendar"></i>
              Create event category
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Property</th>
              <th>Yes/No</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'event.category.update' o.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ o.description }}
                  </a>
                  {% if o.css_class_name %}
                    <br />
                    <small>(CSS class: "{{ o.css_class_name }}")</small>
                  {% endif %}
                </td>
                <td>
                  Promote
                  <br />
                  Routine
                </td>
                <td>
                  {{ o.promote|yesno|capfirst }}
                  <br />
                  {{ o.routine|yesno|capfirst }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

