{% extends 'project/base.html' %}

{% block title %}
  Event list
{% endblock title %}

{% block sub_heading %}
  Event list
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.dash' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'event.create' %}">
              <i class="fa fa-calendar"></i>
              Add event
            </a>
          </li>
          <li>
            <a href="{% url 'event.location.list' %}">
              <i class="fa fa-calendar"></i>
              Locations
            </a>
          </li>
          <li>
            <a href="{% url 'event.status.list' %}">
              <i class="fa fa-calendar"></i>
              Event status
            </a>
          </li>
          <li>
            <a href="{% url 'event.type.list' %}">
              <i class="fa fa-calendar"></i>
              Event types
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Description and location</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  {{ o.start_date|date:'d/m/Y' }}
                  {% if o.end_date %}
                    <br />
                    {{ o.end_date|date:'d/m/Y' }}
                  {% endif %}
                  </a>
                </td>
                <td>
                  {{ o.start_time|date:'h:iA' }}
                  {% if o.end_time %}
                    <br />
                     {{ o.end_time|date:'h:iA' }}
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'event.update' o.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ o.event_type }}
                    <br />
                    {% if o.description %}
                      {{ o.description }}
                      <br />
                    {% endif %}
                    {{ o.location.description }}
                  </a>
                  {% if o.notes %}
                    <br />
                    {{ o.notes }}
                  {% endif %}
                </td>
                <td>
                  {% if o.status.publish %}
                    <strong>
                  {% else %}
                    <strike>
                  {% endif %}
                  {{ o.status }}
                  {% if o.status.publish %}
                    <strong>
                  {% else %}
                    </strike>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

