{% extends 'project/base.html' %}
{% load static %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'event/css/event.css' %}">
{% endblock stylesheets_extra %}

{% block title %}
  Event list
{% endblock title %}

{% block sub_heading %}
  Event list
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.dash' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'event.create' %}">
              <i class="fa fa-calendar"></i>
              Add event
            </a>
          </li>
          <li>
            <a href="{% url 'event.location.list' %}">
              <i class="fa fa-calendar"></i>
              Locations
            </a>
          </li>
          <li>
            <a href="{% url 'event.status.list' %}">
              <i class="fa fa-calendar"></i>
              Status
            </a>
          </li>
          <li>
            <a href="{% url 'event.category.list' %}">
              <i class="fa fa-calendar"></i>
              Categories
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% for o in object_list %}
    <div class="pure-g {{ event }}">
      <div class="pure-u-1">
      </div>
    </div>
    <div class="{{ o.permission.css_class_name }}">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-12-24">
          <a href="{% url 'event.update' o.pk %}">
            <i class="fa fa-edit"></i>
            {% include 'event/_event_date.html' %}
            {% include 'event/_event_time.html' %}
          </a>
        </div>
        <div class="pure-u-1 pure-u-md-12-24 status">
          <small>
            {% include 'event/_event_status.html' %}
          </small>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1 status">
          {% include 'event/_event_description.html' %}
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1">
          {% include 'event/_event_notes_public.html' %}
        </div>
      </div>
      {% if o.notes_user %}
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-24">
          </div>
          <div class="pure-u-1 pure-u-md-23-24">
            {% include 'event/_event_notes_user.html' %}
          </div>
        </div>
      {% endif %}
      {% if o.notes_staff %}
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-24">
          </div>
          <div class="pure-u-1 pure-u-md-23-24">
            {% include 'event/_event_notes_staff.html' %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="pure-g {{ event }}">
    <div class="pure-u-1">
    </div>
  </div>
{% endblock content %}
