.pending {
    background: rgb(220, 220, 220);
}

.public {
    border-bottom: 1px solid #989898;
    border-left: 8px solid #66FF33;
    padding-left: 10px;
}

.public-text {
    background: #66FF33;
}

.staff {
    border-bottom: 1px solid #989898;
    border-left: 8px solid #FF9999;
    padding-left: 10px;
}

.staff-text {
    background: #FF9999;
}

.user {
    border-bottom: 1px solid #989898;
    border-left: 8px solid #FFFF00;
    padding-left: 10px;
}

.user-text {
    background: #FFFF00;
}
