{% extends 'event/base.html' %}
{% load staticfiles %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'event/css/event.css' %}">
{% endblock stylesheets_extra %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
            <li>
              <a href="{% url 'project.dash' %}">
                <i class="fa fa-cogs"></i>
                Dashboard
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% for o in events %}
    <div class="pure-g event">
      <div class="pure-u-1">
        {% include 'event/_event_date.html' %}
        {% include 'event/_event_time.html' %}
        <br />
        {% include 'event/_event_description.html' %}
        {% include 'event/_event_notes_public.html' %}
      </div>
    </div>
  {% endfor %}
{% endblock content %}
